@page
@model CanvasLMS.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" />
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Course.FacultyId" class="control-label"></label>
                <select asp-for="Course.FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>
                <span asp-validation-for="Course.FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Course.LecturerId" class="control-label"></label>
                <select asp-for="Course.LecturerId" class="form-control" asp-items="ViewBag.LecturerId"></select>
                <span asp-validation-for="Course.LecturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

