@page
@model CanvasLMS.Pages.StudentTranscripts.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>StudentTranscript</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentTranscript.StudentId" class="control-label"></label>
                <select asp-for="StudentTranscript.StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentTranscript.CourseEnrollmentId" class="control-label"></label>
                <select asp-for="StudentTranscript.CourseEnrollmentId" class ="form-control" asp-items="ViewBag.CourseEnrollmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentTranscript.CreditHours" class="control-label"></label>
                <input asp-for="StudentTranscript.CreditHours" class="form-control" />
                <span asp-validation-for="StudentTranscript.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentTranscript.CreatedAt" class="control-label"></label>
                <input asp-for="StudentTranscript.CreatedAt" class="form-control" />
                <span asp-validation-for="StudentTranscript.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

